<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--        namespace=绑定的一个对应的Dao/Mapper接口-->
<mapper namespace="com.jie.dao.UserDao">

    <!--    select查询语句-->
    <select id="getUserList" resultType="u">
        SELECT * FROM mybatis.`user`
    </select>

    <select id="getUserById" parameterType="int" resultType="com.jie.pojo.User">
        SELECT * FROM mybatis.`user` WHERE `id` = #{id}
    </select>

    <insert id="addUser" parameterType="com.jie.pojo.User">
        INSERT INTO mybatis.`user`(`id`,`name`,`pwd`) VALUES(#{id},#{name},#{pwd})
    </insert>

    <update id="updateUser" parameterType="com.jie.pojo.User">
        UPDATE mybatis.`user`
        SET `name` =#{name},`pwd`=#{pwd}
        WHERE `id` = #{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM mybatis.`user` WHERE `id` = #{id}
    </delete>

    <insert id="addUser2" parameterType="map">
        INSERT INTO mybatis.`user`(`id`,`name`,`pwd`) VALUES(#{id},#{name},#{pwd})
    </insert>

    <select id="getUserById2" parameterType="map" resultType="com.jie.pojo.User">
        SELECT * FROM mybatis.`user` WHERE `id` = #{id}
    </select>

    <!--        模糊查询-->
    <select id="getUserLike" resultType="com.jie.pojo.User">
        SELECT * FROM mybatis.`user` WHERE `name` LIKE #{value}
    </select>


</mapper>